/*	PAGINA	*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	color: #333;	
}


/*	SEÇÕES	*/

section[id] {
	padding-top: 58px; 
}

/*	MENU 	*/

nav {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #333;
}

nav > a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 28px;
	font-family: Pacifico, serif;
	margin-bottom: 8px;
}

nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
}

nav ul li {
	text-align: center;
	width: 100%;
}

nav ul li a {
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: white;
}

/*	CABEÇALHO	*/

header {
	background-image: url("http://i.imgur.com/lxiJa87.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 50px 0;
}

header p {
	margin-bottom: 2em;
	margin-left: 10px;
}
/*	TITULOS	*/

h1,h2,h3 {
	margin: 0px;
	font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
}

/*	SOBRE	*/

.sobre {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	background-color: #13a9ba;	
	color: white;
	padding-bottom: 58px;
}

.sobre p {
	margin-bottom: 2em;
	max-width: 1000px;
}

.sobre .button {
	background-color: white;
	color: #333;
}

/*	SERVIÇOS	*/

.servicos {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.servicos .servico {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 30px;
}

.servicos .servico h3 {
	margin-top: 10px;
}

.servicos .servico img {
	width: 100%;
	max-width: 80px;
}

/*	PORTFÓLIO	*/

.portfolio {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.portfolio h2 {
	margin-bottom: 20px;
}

.portfolio img {
	width: 100%;
}

/*	CONTATO	*/

.contato {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}

.contato a {
	display: block;
	color: inherit;
}

.contato form {
	display: flex;
	flex-flow: column;
	width: 80%;
	margin-bottom: 30px;
}

input, select, textarea {
	width: 100%;
	margin-bottom: 10px;
}

.icone-contato:last-child {
	margin-top: 10px;
}

/*	RODAPE	*/

footer {
	text-align: center;
	padding: 10px;
	background-color: #13a9ba;
	color: white;
	margin-top: 58px;
}
/*	BOTÕES	*/

.button {
	border: 0px;
	color: white;
	background-color: #13a9ba;
	padding: 10px 30px;
	border-radius: 3px;
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
}

/*	ADAPTAÇÕES	*/

@media screen and (min-width: 768px) {
  
  .button:hover {
    opacity: 0.8;  
  }
  
	nav {
		flex-flow: row;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		justify-content: space-around;
		background-color: rgba(0,0,0,0.8);
	}

	nav a {
		font-size: 1.2em;
    padding: 2px;
	}

  nav a:hover {
    opacity: 0.8;  
  }
  
	nav ul {
		flex-flow: row;
		width: 60%;
	}

	header {
		justify-content: center;
		height: 100vh;
	}

	.sobre {
		justify-content: center;
	}

	.servicos {
		flex-flow: row wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;
	}

	.servicos h2 {
		text-align: center;
		width: 100%;
	}

	.servicos .servico {
		flex: 1 1 150px;
		padding: 0 10px;
	}

	.portfolio {
		flex-flow: row wrap;
	}

	.portfolio h2 {
		text-align: center;
		width: 100%;
	}
  
  .portfolio img{
    width: 33.333333333%;
    padding: 2px;
  }

	.contato {
		flex-flow: row wrap;
		justify-content: space-around;
		max-width: 500px;
		margin: 0 auto;
	}

	.contato h2 {
		text-align: center;
		width: 100%;
	}

	.icone-contato:last-child {
		margin-top: 0;
	}
}